* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    font-family: 'poppins', sans-serif;
  }
  body{
    overflow-x: hidden;
    width: 100%;
  }


/* Navbar */

 #navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  transition: background-color 0s ease;
  z-index: 999;
}

/* Background color when scrolled */
.scrolled {
  background-color: #1F202A !important;
}
  .hamburger {
    color: #fff;
  }

  .social-icons .round_border{
    border: 1px solid #fff;
  }

  .social-icons a {
    color: #fff;
}



