        /* <div class="form-group">
            <label for="title">Blog title:</label>
            <input type="text" id="title" name="title" class="form-control" required>
        </div> */

 h1 {
    text-align: center;
    color: #222526d1;
    margin-top: 20px;
    text-transform: capitalize;
}

 form{
    margin: 0 auto;
    padding: 0px;
    font-family: "Poppins", sans-serif;

 }

.form-group  {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    border: 1px solid #00000030;
    width: 100%;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 3px #00000005;
    font-family: "Poppins", sans-serif;
    padding: px 0px;
    border-radius: 10px;
}

.form-group label,h3 {
    font-weight: 700;
    margin:0px 10px;
    color: #222526;
    width:14%;
    font-size: 14px;
}

.form-group input[type="text"]{
    display: flex;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-left: 1px solid #00000014;
    width: 85%;
    font-size: 14px;
    color: #222526;
    font-family: "Poppins", sans-serif;
    border-radius:0px  10px 10px 0px

}

.form-group input[type="file"]{
    display: flex;
    padding: 8px;
    border: none;
    background-color: #ffffff;
    border-left: 1px solid #00000014;
    width: 86%;
    border-radius:0px  10px 10px 0px;
    font-size: 14px;
    color: #222526;
    font-family: "Poppins", sans-serif;
}

.form-group input[type="date"]{
    display: flex;
    padding: 8px;
    border: none;
    background-color: #ffffff;
    border-left: 1px solid #00000014;
    color: #222526;
    width: 86%;
    border-radius:0px  10px 10px 0px;
    outline: none;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.form-group select{
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-left: 1px solid #00000014;
    width: 86%;
    border-radius:0px  10px 10px 0px;
    color: #222526;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
.form-group select:focus{
    outline: none;
}


.form-group input[type="text"]:focus{
    outline: none;
}

.form-group img{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin:5px 10px;
    object-fit: cover;
    box-shadow: 2px 2px 4px #00000026 ;
}

.form-group textarea{
    display: flex;
    padding: 5px;
    margin: 0px 0px;
    border: none;
    background-color: #fff;
    border-left: 1px solid #00000014;
    width: 86%;
    min-height: 100px;
    font-size: 14px;
    color: #222526;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
     border-radius:0px  10px 10px 0px
}

.form-group textarea:focus{
    outline: none;
}

 .btn-save{
    display: block;
    border: none;
    background-color:#007bff ;
    color: #fff;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.add{
    display: block;
    border: none;
    background-color: #007bff;
    border: 1px solid #cacaca;
    color: #fff;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 900;
    font-size: 14px;
    box-shadow: 2px 2px 4px #00000026;

}
#paragraph-wrapper {
    margin: 20px 0px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.paragraph{
    width: 100%;
    background-color: #f4f4f4;
    height: fit-content;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    box-shadow: 2px 2px 3px #00000005;
    border: 1px solid #00000031;
    padding:5px 10px 10px 10px;
    border-radius: 10px;
}

.paragraph .p-action {
    color: #2225269e;
    height: fit-content;
    width:8% ;
    margin-right: 20px;
}


.paragraph .p-action h1{
    color: #2225269e;
    height: fit-content;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

.paragraph .p-action button{
    height: fit-content;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border: none;
    margin: 20px auto;
    text-align: center;
    background-color: transparent;
}
.paragraph .p-action button i{
    color: red;
    padding: 10px 12px;
}

.paragraph .p-action button i:hover{
    color: red;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.026);
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}


.paragraph .inside{
    display: flex;
    flex-direction: column;
    width: 90%;
}


.paragraph .inside label{
    color: #222526;
    height: fit-content;
    font-weight: 600;
    font-size: 13px;
}

.paragraph .inside input[type="text"]{
    height: fit-content;
    font-weight: 300;
    border: 1px solid #00000026;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    color: #222526;
    font-family: "Poppins", sans-serif;
    outline: none;
}

.paragraph .inside textarea{
    font-size: 14px;
    color: #222526;
    font-family: "Poppins", sans-serif;
    height: fit-content;
    font-weight: 300;
    border: 1px solid #00000026;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}


